POSTGRES_DB=myprojectdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=strong_password_change_me
DB_HOST=db
DJANGO_SECRET_KEY=Mysadfsgiojadfsdqwjdogregerg
DEBUG=True
DJANGO_LOGLEVEL=info
POSTGRES_PORT=5432
REDIS_HOST_PORT=6379 
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
